@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
	--colHighlight: #943855;
	--colBackground: #1a1923;
	--colBlue: #44446c;
	--colRed: #5f293b;
	--colLight: #9ca4ac;

	scroll-behavior: smooth;
	background-image: 
		url(../assets/nnnoise.svg),
		url(../assets/uuunion.svg);
	background-size: auto, cover;
	background-position: center;
}

*{
	scroll-padding: 5vh;
	scroll-behavior: smooth;
	/* border: solid red 0.5px; */
}

.help{
	border: solid yellow 1px;
}

.font-title{
	user-select: none;
	font-family: "Monument Extended", sans-serif;
	text-transform: uppercase;
}

.font-header {
	user-select: none;
	font-family: "Clash Grotesk", sans-serif;
	/* text-transform: uppercase; */
	font-weight: 600;
}

.font-mono {
	font-family: "Monument Grotesk Mono", monospace;
}

.ghosttext{
	color:transparent;
	-webkit-text-stroke: 1px white;
}

.text-stroke-stone-300{
	color: transparent;
	-webkit-text-stroke: 1px rgb(214 211 209);
}

.noise {
	background-image: url(../assets/nnnoise.svg);
}

.homepage-img{
	width: 100%;
	height: 125%;
	position: absolute;
	top: -10%;
	object-fit: cover;
	object-position: center;
	mask-image: linear-gradient(to bottom, black 75%, rgba(0,0,0,0.5) 90%,transparent 100%);
	z-index: -1;
}

.line {
	width: 100%;
	max-width: 800px;
	height: 8px;
	margin: 0 0 10px 0;
	position: relative;
	display: inline-block;
	background-color: rgba(255,255,255,1);
}

.hidescroll{
	scrollbar-width: none;
}
.hidescroll::-webkit-scrollbar{
	display: none;
}

.bgimage{
	background-image: url(../assets/xebelion-15.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.transpdiv{
	mask-image: linear-gradient(to right, black, black 80%, transparent 100%);
}

.transpdivtb{
	mask-image: linear-gradient(to bottom, transparent 5%, black 30%, black 70%, transparent 95%);
	scrollbar-width: 0;
}

.transpdivt{
	mask-image: linear-gradient(to bottom, transparent 5%, black 30%);
	scrollbar-width: 0;
}

.transpdivlr{
	mask-image: linear-gradient(to right, transparent 2.5%, black 20%, black 80%, transparent 97.5%);
	scrollbar-width: 0;
}

.transpdivb{
	mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 60%, transparent 95%);
	scrollbar-width: 0;
}

.mockup-phone .camera {
	position: relative;
	top: 0px;
	left: 0px;
	background:  rgb(28 25 23);
	height: 25px;
	width: 150px;
	margin: 0 auto;
	border-bottom-left-radius: 17px;
	border-bottom-right-radius: 17px;
	z-index: 11;
}