@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Akira;
	src: url(../assets/Akira.otf);
}

:root{
	--colHighlight: #943855;
	--colBackground: #1a1923;
	--colBlue: #44446c;
	--colRed: #5f293b;
	--colLight: #9ca4ac;

	scroll-behavior: smooth;
	background-image: 
		url(../assets/nnnoise.svg),
		url(../assets/uuunion.svg);
	background-size: auto, cover;
	background-position: center;
}

*{
	scroll-padding: 5vh;
	scroll-behavior: smooth;
}

.font-title{
	user-select: none;
	font-family: "Akira", sans-serif;
}

.font-header {
	user-select: none;
	font-family: "General Sans", sans-serif;
}

.noise {
	background-image: url(../assets/nnnoise.svg);
}

.homepage-img{
	width: 100%;
	height: 125%;
	position: absolute;
	top: -10%;
	object-fit: cover;
	object-position: center;
	mask-image: linear-gradient(to bottom, black 75%, rgba(0,0,0,0.5) 90%,transparent 100%);
	z-index: -1;
}

.line {
	width: 100%;
	max-width: 800px;
	height: 8px;
	margin: 0 0 10px 0;
	position: relative;
	display: inline-block;
	background-color: rgba(255,255,255,1);
}

.bgimage{
	background-image: url(../assets/xebelion-15.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.transpdiv{
	mask-image: linear-gradient(to right, black, black 80%, transparent 100%);
}

.transpdivtb{
	mask-image: linear-gradient(to bottom, transparent 5%, black 30%, black 70%, transparent 95%);
	scrollbar-width: 0;
}

.hidescroll{
	scrollbar-width: none;
}
.hidescroll::-webkit-scrollbar{
	display: none;
}

.ghosttext{
	color:transparent;
	-webkit-text-stroke: 1px white;
	opacity: 7%;
}