@tailwind base;
@tailwind components;
@tailwind utilities;

.font-header {
	font-family: "General Sans", sans-serif;
}

.homepage{
	background-image: url(../assets/xebelion-15.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}